* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(90deg, #ff8a00, #e52e71);
    color: white;
    height: 100vh;

}

.reel {
    width: 55vh;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    margin: 10px 0;
}

.reel video {
    width: 100%;
    border-radius: 10px;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    position: absolute;
    right: 0px;
    bottom: 40px;
    padding: 10px;
    height: 40vh;
    font-weight: 100;
}
.bottom .user {
    display: flex;
    /* justify-items: center; */
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.bottom .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.bottom .user button {
    /* margin-left: 10px; */
    padding: 5px 10px;
    border: none;
    background-color: #8d757963;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}
i{
    font-size: 24px;
    cursor: pointer;
}
.bottom{
    position: absolute;
    bottom: 10px;
    width: 100%;
    padding: 20px;
}
.allReels{
    background-color: rgb(49, 49, 51);
    overflow: auto;
    height: 100vh;
    scrollbar-width: none;
    scroll-snap-type: y mandatory;
    /* scroll-behavior: smooth; */
    border-radius: 10px;
    /* padding: 20px 0px; */
}
.love {
    color:red;
    /* pointer-events: none; */
}
.bubble{
    pointer-events: none;
}
.like, .comment, .share{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 10px 0; */
}
@media screen and (max-width: 600px) {
    .reel {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
}